/* HTML */
body {
  font-family: 'Teachers', sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #030303;
}

#cabecalho .nav .nav-link.active {
  background-color: white;
  color: #efbf04;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
  color: white;
  font-family: 'Teachers', sans-serif;
  font-weight: 500;
}

#cabecalho .navbar-brand {
  font-size: 42px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #efbf04;
}

#cabecalho .navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBzdHJva2U9IiNFRkJGMDQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xIDIuNWgxNE0xIDhoMTRNMSAxMy41aDE0Ij48L3BhdGg+PC9zdmc+Cg==');
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.6s ease, width 0.6s ease, height 0.6s ease;
}

.navbar-toggler.clicked .navbar-toggler-icon {
  transform: rotate(180deg);
  height: 15px;
}

.collapse {
  transition: height 0.5s ease;
}

/* Carousel */
.carousel-item {
  position: relative;
  width: 100%;
  height: 500px;
}

#carousel-bg {
  background-color: black;
}

.carousel-item.active {
  opacity: 1;
  transition: opacity ease-in-out;
}

.carousel-item:not(.active) {
  opacity: 0;
}

.carousel-item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(10%);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #efbf04;
}

.carousel-caption > p {
  color: #ffffff;
}

.hidden {
  display: none;
}

/* TITLES AND CONTENTS  */
.section-title {
  font-family: 'Noto Sans JP', sans-serif;
}

.section-title > span,
.contact-text {
  color: #ffcc00;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 0 0 5px #161616;
}

.section-content {
  font-family: 'Teachers', sans-serif;
}

.section-content > span {
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 0 0 5px #000000;
}

.section-color {
  background-color: #ffffff;
}

/* LIST */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

ul li {
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

ul li a i {
  margin-right: 8px;
}

/* BTN */
.btn {
  cursor: pointer;
  border: 0px solid #ffcc00;
  font-family: 'Teachers', sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  transition: 500ms;
  width: 147px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  background: rgb(255, 204, 0);
  --hover-width: 144px;
  --hover-bgc: #000000;
  --hover-color: #ffffff;
  --hover-borderc: #ffcc00;
  --hover-borderSize: 2px;
}

.btn:hover {
  color: rgb(255, 255, 255);
  width: 145px;
  background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border-color: rgb(255, 204, 0);
  border-width: 2px;
  border-style: solid;
}

/* MENU */
.nav-menu .nav-link.active {
  background-color: #ffcc00;
  color: #000000;
}

.btn-menu {
  font-family: 'Teachers', sans-serif;
  text-decoration: none;
  margin-top: 5px;
  color: #ffcc00;
  outline: none;
}

.btn-menu:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: #ffcc00;
}

.btn-menu:active {
  transform: scale(0.9);
}

.btn-menu:focus,
.btn-menu:visited {
  color: #ffcc00;
  outline: none;
}

/* CARDS MALDITOS */

.card {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 18px #00000042;
  border-radius: 15px;
}

.card-img-top {
  padding-top: 15px;
  width: 15vh;
  height: 20vh;
  object-fit: scale-down;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#product-img {
  /* Imagem do card *MAIS VENDIDOS* */
  max-width: 40%;
}

.card-img-top-used {
  max-width: 50%;
  object-fit: scale-down;
  margin-top: 10px;
}

/* TEXTO DO CARD */

#card-title-product {
  text-decoration: none;
  color: inherit;
}

#card-product {
  padding-bottom: 350px;
}

.text-container {
  overflow: hidden;
  position: relative;
}

.card-text {
  max-height: 100px;
  max-width: 100vh;
  overflow: hidden;
}

.card-text:hover {
  min-height: 200vh;
  -moz-transform: none;
  -webkit-transform: none;
  transform: none;
  -moz-animation: ScrollText 80s linear infinite;
  -webkit-animation: ScrollText 80s linear infinite;
  animation: ScrollText 80s linear infinite;
}

@keyframes ScrollText {
  from {
    -webkit-transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

.card-body {
  position: relative;
  min-height: 80px;
}

.price {
  padding-top: 15px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Technical */

form > div { 
  padding-bottom: 10px;
}

.contact-text {
  padding-top: 10px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  border-top: 1px solid #dee2e6;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card-brands {
  display: flex;
  align-items: center;
}
.card-brands img {
  width: 50px;
  margin: 0 10px;
}
.card-reclame img {
  width: 100px;
}
.footer div {
  margin: 0 10px;
}
.footer small {
  text-align: center;
  margin: 0px 0;
}